/* Background */
.backgroundContainer {
    position: relative;
    background: linear-gradient(0deg, #7c7d84, #e39776, #ecdac9, #e5c2a9, #c3d1cd);
    background-size: 1000% 1000%;
    height: 100vh;
    width: 100%;
}

/* Form */
.formGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.formSubhead {
    align-self: flex-start;
    margin-bottom: 5px;
}

.inputWrapper {
    width: 100%;
    background-color: #fbf9f7;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.inputIcon {
    font-size: x-large;
}

.inputForm {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    margin-left: 5px;
    font-size: 18px;
}

.inputForm:focus {
    outline: none;
}

.formButton {
    width: 100%;
    border: none;
    border-radius: 20px;
    height: 2.5rem;
    margin-top: 1rem;
    background-color: #b372bb;
    color: #fbf9f7;
}

.formButton:hover {
    background-color: #9c63a3;
}

.formLinkContainer {
    margin-top: 2rem;
    font-size: 17px;
}

.formLink {
    color: #b372bb;
    text-decoration: none;
}

.formLink:hover {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}


/* Signup */
.signupContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 95%;
    min-width: 30rem;
    background: #fbf9f7c4;
    box-shadow: 0px 0px 80px #a179af;
    padding: 0 4rem;
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation: fadeInDown 1s ease-in-out;
}

.signupLogoContainer {
    display: flex;
    justify-content: center;
}

.signupLogo {
    padding-bottom: 2rem;
    width: 20%;
    animation: fadeIn 1.5s ease-in-out;
}

.signupInputWrapper {
    display: flex;
    justify-content: center;
}

.leftInput .inputWrapper {
    position: relative;
    left: 0;
    width: 95%;
    transform: translateX(-1.5%);
}

.signupDisclaimerContainer {
    margin-top: 2rem;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.formSignupButton {
    width: 100%;
    border: none;
    border-radius: 20px;
    height: 2.5rem;
    background-color: #b372bb;
    color: #fbf9f7;
}

.linkContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.loginLink {
    text-align: center;
    font-size: 15px;
}


/* Animations */
/* @keyframes background-wash {
    0% {background-position: 50% 0%}
    50% {background-position: 51% 100%;}
    100% {background-position: 50% 0%;}
} */

@keyframes fadeIn {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes fadeInDown {
    from {opacity: 0%; top: -10%;}
    to {opacity: 100%; top: 50%;}
}

/* Sizing */
@media (max-width: 750px) {
    .signupContainer {
        width: 95%;
        height: 98%;
    }
    
    .signupLogo {
        width: 50%;
        padding-bottom: 1rem;
    }

    .signupInputWrapper {
        flex-direction: column;
    }

    .linkContainer {
        margin-top: 5px;
    }
}