.homeContainer {
    display: flex;
    justify-content: space-between;
}

/* Side Bar */
.sideNav {
    height: 100%;
    width: 20%;
    position: fixed;
    left: 0;
    z-index: 1;
    background-color: #424758;
    overflow-x: hidden;
    padding-top: 20px;
    color: white;
}

.sideNav a {
    margin-left: 25px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
}

.sideNav a:hover {
    text-decoration: underline;
}

.sideNav-profile {
    display: flex;
    margin-left: 30px;
    margin-bottom: 25px;
}

.sideNav-profilePic {
    margin-right: 10px;
}

.sideNav h6 {
    margin-left: 25px;
}

/* Home Feed */
.homeFeed {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    transform: translateX(-50%);
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: black 1px solid;
}

.activityFeed {

}

/* .feedItem {

} */


/* Right Side */
.homeRight {
    height: 100%;
    width: 20%;
    position: fixed;
    right: 0;
    z-index: 1;
    background-color: #424758;
    overflow-x: hidden;
    padding-top: 20px;
    color: white;
}

.homeRight a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
}

.homeRight a:hover {
    text-decoration: underline;
}

.activeProd-card {
    cursor: pointer;
}

.activeProd-card:hover {
    background-color: rgb(232, 232, 232);
    border-radius: 6px;
}